<%- contentFor('body') %>
<form action="/veralumno" method="GET"> 
<img src="https://sites.google.com/a/tectijuana.edu.mx/posgrado-con-la-industria/_/rsrc/1525283248146/config/customLogo.gif?revision=3" 
alt="Beca Alimenticia Banner" width="100%" height="220px">

  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 class="hTitle">Beca Alimenticia</h2>
        <br>
        <h3 class="h2home">Datos del alumno</h3>
        <label>Apellido paterno: <%= database.paterno %></label><br>
        <label>Apellido materno: <%= database.materno %></label><br>
        <label>Nombre(s): <%= database.nombres %></label><br>
        <label>Edad: </label><br>
        <label>Edo civil: </label><br>
        <label>Dirección particular: </label><br>
        <label>Teléfono: </label><br>
        <label>Alguna vez tuvo beca: </label><br>
        <label>Número de control: <%= database.nocontrol %></label><br>
        <label>Carrera: </label><br>
        <label>Semestre: </label><br>
        <label>Turno: </label><br>
        <label>Examen especial: </label><br>
        <label>Créditos: </label><br>
        <label>Adeudo: </label><br>
        <label>Trabaja: </label><br>
        <label>Ingreso mensual familiar: </label><br>
        <label>Vive con: </label><br>
        <label>Cuanto tiempo tienen viviendo ahí: </label><br>
        <label>Cuántos niños y adultos: </label><br>
        <label>La casa es: </label><br>
        <label>La casa es de: </label><br>
        <label>No de recamaras: </label><br>
        <label>Luz: </label><br>
        <label>Agua: </label><br>
        <label>Teléfono: </label><br>
        <label>Internet: </label><br>
        <label>Drenaje: </label><br>
        <label>Tv: </label><br>
        <label>No de Automóviles: </label><br>
        <label>Transporte: </label><br>
        <label>Miembros de la famillia: </label><br>
        <label>Promedio: </label><br>
        <label>Ingreso mensual familiar: </label><br>
        <label>Capacidades diferentes: </label><br>
        <label>Madre o padre soltero(a)/ embarazo: </label><br>
        <label>No de hijos: </label><br>
        <label>Equipos de la escuela: </label><br>
        <label>Motivos: </label><br>
        <label>Acepta bases: </label><br>
        <br><br>
        <a href="/solicitudes" class="btnSolicitud">Volver</a>
        </div>
    </div>
</div>